<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inbaru">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".creator"></activity>
        <activity android:name=".laporan" />
        <activity android:name=".stockpapan" />
        <activity android:name=".stockkomputer" />
        <activity android:name=".stockkursi" />
        <activity android:name=".stockac" />
        <activity android:name=".stockkipas" />
        <activity android:name=".stockbuku" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginpegawai" />
        <activity android:name=".pilihanawal" />
        <activity android:name=".menu" />
        <activity android:name=".detailbuka" />
    </application>

</manifest>